{% extends 'layout.html' %}

{% block article %}

<h2>Faça contato</h2>

{% if page.success %}

<div class="success">
    <h3>Olá, {{ page.first_name }}!</h3>
    <blockquote>Seu contato foi enviado.</blockquote>
    <p><em>Obrigado!</em></p>
</div>

{% else %}

<link rel="stylesheet" href="/static/css/contacts.css">

<form action="/contacts" method="POST" id="contacts">

    <p>Preencha os campos abaixo para entrar em contato conosco.</p>
    <p class="required">Todos os campos são obrigatórios!</p>

    <p>
    <label for="name">Nome</label>
    <input type="text" name="name" id="name" required minlength="3" required>
    </p>

    <p>
    <label for="email">E-mail</label>
    <input type="email" name="email" id="email" required>
    </p>

    <p>
    <label for="subject">Assunto</label>
    <input type="text" name="subject" id="subject" required minlength="5">
    </p>

    <p>
    <label for="message">Mensagem</label>
    <textarea name="message" id="message" required minlength="5"></textarea>
    </p>
    
    <button type="submit">Enviar</button><small> ← Clique somente uma vez</small>
</form>
{% endif %}
<script>
    if (window.history.replaceState) window.history.replaceState(null, null, window.location.href);
</script>

<p></p>

{% endblock %}


{% block aside %}
<h3>Mais contatos</h3>
<ul class="aside-social">
    {% for social in page.socials %}
        <li>
            <a href="{{ social.link }}">{{ social.icon | safe }}
                <span>{{ social.name }}</span>
            </a>
        </li>
    {% endfor %}
</ul>

<h3>Links</h3>
<ul class="links-aside">
    <li><a href="/about">Sobre</a></li>
    <li><a href="/policies">Privacidade</a></li>
</ul>
{% endblock %}