
{% extends 'layout.html' %}

<link rel="stylesheet" href="..\static\css\home.css">

{% block article %}
<h2>Artigos recentes</h2>

<div class="article-grid">
    {% for article in page.articles %}

    <div class="article-box" onclick="location.href = '/view/' + {{ article['art_id'] }}">
        <img src=" {{ article['art_thumbnail'] }}" alt=" {{ article['art_title'] }}">
        <div>
            <h4>{{ article['art_title'] }}</h4>
        </div>
        <small>{{ article['art_resume'] }}</small>
    </div>

    {% endfor %}

</div>
{% endblock %}

{% block aside %}
{% endblock %}