
{% extends 'layout.html' %}

{% block article %}
<h2>Título do article</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dolores quo asperiores animi. Illo dolorem dolore non quia sequi at repellendus ad expedita cumque eos doloribus, eligendi tempore impedit commodi! Corrupti facilis facere sit, at non nulla placeat ipsum officia officiis fugiat consectetur labore perspiciatis optio odio id eaque. Ad assumenda consectetur, beatae tempora ratione veritatis unde cum accusantium quas deserunt aperiam sequi doloribus dolorem aliquam harum officiis laborum. Explicabo fugit animi ad quibusdam omnis, quas reprehenderit aliquam id voluptate distinctio exercitationem recusandae veniam corporis cupiditate cum debitis ullam rem repudiandae consectetur velit pariatur doloremque architecto voluptatem! Hic, est autem!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae nostrum non eos placeat tempora minima reprehenderit voluptates, delectus nesciunt sint et vero! Magni omnis molestiae explicabo. Harum pariatur earum sint delectus vel fuga! Doloremque alias, nam similique praesentium illum excepturi ab quas non possimus ea suscipit voluptates doloribus, ut harum eius pariatur commodi natus repellat tempora optio consequatur voluptatum est labore! Corporis doloribus possimus necessitatibus? Laboriosam quia vel iste harum, excepturi quos doloremque quidem dolorum laborum aspernatur praesentium pariatur odit animi hic alias a similique unde. Error, vero repellat accusamus nihil nemo eius placeat ad modi ratione ipsa? Cum, a?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum animi, velit, ullam eveniet vel minus reprehenderit dolorem soluta deserunt repellendus ratione natus sunt quibusdam! Molestias modi saepe in doloremque doloribus suscipit repudiandae quibusdam, maiores ipsa beatae aliquid quae non sed accusamus numquam consectetur obcaecati ex delectus ut aut repellendus harum optio nobis. Sapiente perspiciatis repellat unde quia incidunt voluptates dolores, in impedit, facere at molestiae adipisci aliquid facilis temporibus ex ab omnis iure quasi repudiandae aperiam debitis perferendis odit quod error? Molestias officia distinctio culpa, quis, quibusdam consequuntur veritatis dolorem deleniti tempore ipsum quam mollitia iste autem deserunt, qui sit.</p>

<ul>
    {% for coisa in page.coisas%}
    <li>{{ coisa }}</li>
    {% endfor %}
</ul>

{% endblock %}

{% block aside %}
<h3>Meu Aside</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum impedit dignissimos eum error repudiandae aperiam. Excepturi modi dolore neque tenetur molestias fuga, iure magni, reiciendis nulla nihil consectetur officia necessitatibus!</p>
{% endblock %}