{% extends 'layout.html' %}

{% block article %}

<div id="logged">
<br>
    <img src="/static/img/user.png" alt="Usuário anônimo" width="100px" height="100px" referrerpolicy="no-referrer">
    <h4>Usuário anônimo</h4>
    <ul>
        <li id="id">Sem ID</li>
        <li id="email">anonimous@gmail.com</li>
        <li id="registered">00/00/0000</li>
        <li id="lastLogin">00/00/0000</li>
    </ul>
    <p>Sua conta é gerenciada pelo Google. Para editar seu perfil, clique no botão abaixo:</p>
    <p class="center">
        <button id="toGoogle"><i class="fa-brands fa-google fa-fw"></i>Ver perfil no Google</button>
    </p>
    <p>Clique no botão abaixo para sair do aplicativo neste computador:</p>
    <p class="center">
        <button id="btnLogout"><i class="fa-solid fa-right-from-bracket fa fw"></i>Logout / Sair</button>
    </p>
</div>


<div id="unlogged">

    <h2>Perfil de usuário</h2>
    <p>Logue-se para ver seu perfil no {{ page.site.name }}.</p>
    <p class="center">
        <button id="btnLogin"><i class="fa-brands fa-google fa-fw"></i>Logue-se com o Google</button>
    </p>
</div>
{% endblock %}

{% block aside %}
<h3>Links úteis</h3>
<ul>
<p>
    <li><a href="/about">Sobre</a></li>
    <li><a href="/contacts">Contato</a></li>
    <li><a href="">Privacidade</a></li>
</p>
</ul>
{% endblock %}